<% content_for :title do %>Login<% end %>
<section class="row">
	
  <div class="small-12 medium-6 columns">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
   <div class="content">
    <h3>Login</h3>
      <p>&nbsp;</p>
         <p> <%= form_tag sessions_path do %>
         Password: <%= text_field_tag :password  %><%= submit_tag("Submit") %>
        <% end %></p>
   </div>
  </div>
  
</section> 
