<% content_for :title do %>Login<% end %>
<div class="call-to-action">	
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h3>Login</h3>
<%= form_tag sessions_path do %>
         Password: <%= text_field_tag :password  %><div class="btn btn-lg btn-primary"><%= submit_tag("Submit") %></div>
        <% end %>
        </div>
        </div>
    </div>
   
    
      
         
   
  </div>
  

