<div class="col_large">

    <section id="comments" class="comments_container js-comments_container">
        <h2 class="js-comment_count">
            <span id="count" class="js-counter">

                10 Comments

            </span>
            <span class="tip">
                <a class="smooth" href="#comment">

                    Add a new comment

                </a>
            </span>
        </h2>
        <div id="articles" class="comment_list js-comment_list">
            <article id="comment_9859402" class="clearfix js-comment_element comment_wrapper main comment_9859402 js-comment">
                <a class="portrait_wrapper" href="/jussisilliman">
                    <img class="portrait portrait_lg" alt="Jussi Silliman" srcset="https://i.vimeocdn.com/portrait/6663462_150x150.jpg 2x" src="https://i.vimeocdn.com/portrait/6663462_75x75.jpg"></img>
                </a>
                <div class="comment ">
                    <p class="meta">
                        <a class="meta" href="/jussisilliman">

                            Jussi Silliman

                        </a>
                        <time pubdate="" title="Wednesday, August 28, 2013 9:33 AM" datetime="2013-08-28T09:33:26-04:00">

                            9 months ago

                        </time>
                    </p>
                    <div class="text js-comment_text">
                        <p class="first">

                            :)

                        </p>
                    </div>