<% content_for :title do %>Autorickshaw Productions<% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<section class="row">
	
	<div class="small-12 medium-6 columns">
		<div class="panel">
			<p><%== @featurefilm.writeup %></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<%== @featurefilm.credits %>
</div>
</div>
<div class="small-12 medium-6 columns">
  <ul>
    <li>
		<div class="flex-video widescreen vimeo">
		<%== @featurefilm.link %>
		</div>
<p>&nbsp;</p>
<p>&nbsp;</p></li>

<li>
  <ul class="example-orbit" data-orbit>
  <% @featurefilm.stills.each do |still| %>
  
  <%#= image_still(@still.image)%>

 <li><%= image_tag still.image.url(:medium_image) %></li>
<% end %>
</ul>
</div></li></ul>
</section> 

