// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
  $row-width: em-calc(600);
  $column-gutter: em-calc(30);
  $total-columns: 12 !default;
  header { @include grid-row; @include panel;
    aside { @include grid-column(3); }
    section { @include grid-column(9);
      article {@include grid-row;
       header { @include grid-column(2);}
        div { @include grid-column(10);}
        }
       }
      }  
  .film {border:1px dotted;
    border-radius:25px;align:center;box-shadow:10px 10px 5px #888888;background-color:#D3D3D3  ;
   }
   .header h2 {
text-shadow: 3px 3px 3px #808080 ;
}
.about {background: url(10_1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size:16;
    padding:25 px;
}


