<%# navigation styled for Zurb Foundation 5 %>

      	
      <section class="small-12 medium-4 columns"><div class="film">
      <a href="mailto:manisharana31@gmail.com?Subject=Autorickshaw%20Productions%20Website">Web Developer</a></div>
    </section>
    <section class="small-12 medium-4 columns">
    	<div class="film">
              <a class="th" href= "http://www.facebook.com/autorickshawproductions">
  		<img src="/assets/facebook.png" width="32" height="33"></a>
  		<a class="th" href= "https://twitter.com/autorickshawman">
  		<img src="/assets/twitter.png" width="32" height="32"></a>
  	<a class="th" href= "http://www.vimeo.com/autorickshawproductions">
  		<img src="/assets/vimeo.png" width="34" height="34"></a>
  	</div>
  	
      </section>
    <section class="small-12 medium-4 columns">
              <div class="film">Copyright 2014. All rights reserved.</div>
      </section>
	</div>
