<%# navigation styled for Zurb Foundation 5 %>
<footer class="row"><div class="large-12 columns"><hr/><div class="row"><div class="large-6 columns"><p>&copy; Copyright 2014. All rights reserved.</p></div><div class="large-6 columns"><ul class="inline-list right"><li><a href="mailto:manisharana31@gmail.com?Subject=Autorickshaw%20Productions%20Website"><p class="foot">Contact Developer</p></a></li> <li><a href="http://www.facebook.com/autorickshawproductions"><%= image_tag "facebook.png" %></a></li> <li><a href="https://twitter.com/autorickshawman"><%= image_tag "twitter.png" %></a></li> <li><a href="http://www.vimeo.com/autorickshawproductions"><%= image_tag "vimeo.png" %></a>
</li></ul></div></div></div>
</footer>